# ==================================
# Visual Studio / .NET
# ==================================
[Bb]in/
[Oo]bj/
[Oo]ut/
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
bin/
obj/

# ==================================
# Project Specific Publish & Build
# ==================================
publish-slim/
publish-sc/
.publish/


# ==================================
# Inno Setup Outputs
# ==================================
installer/out/
*.isv

# ==================================
# Rider / Resharper
# ==================================
.idea/
*.sln.iml

# ==================================
# Temporary files & Backups
# ==================================
*.bak
*.tmp
*.log
gitlog.txt
old.txt
diff_all.txt
diff.txt
diff_all_clean.txt
diff2_utf8.txt
diff2.txt
gitpush.md
